{% extends 'templates/base.html' %}

{% block content %}

<link href="static/css/custom/login.css" rel="stylesheet" media="screen">
<link href="static/css/bundles/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bundles/floating-labels.css" rel="stylesheet">

{% if bad_registration == "email" %}
    <div class="alert alert-danger" role="alert" style="width: 60%; margin: auto; text-align: center; margin-top: 5%; ">
        Email exists or is invalid, please fix it or login with your existing acount.
        <script>document.getElementById("inputEmail").value = null</script>
    </div>
{% endif %}

{% if bad_registration == "username" %}
    <div class="alert alert-danger" role="alert" style="width: 60%; margin: auto; text-align: center; margin-top: 5%; ">
        Username exists or is invalid, please fix it or login with your existing acount.
        <script>document.getElementById("inputUsername").value = null</script>
    </div>
{% endif %}

{% if bad_registration == "code" %}
    <div class="alert alert-danger" role="alert" style="width: 60%; margin: auto; text-align: center; margin-top: 5%; ">
        Incorrect registration code.
        <script>document.getElementById("inputCode").value = null</script>
    </div>
{% endif %}

<form class="form-signin center" action="/register" method="POST" oninput='inputPassword2.setCustomValidity(inputPassword.value != inputPassword2.value ? "Passwords do not match." : "")'>

    <div class="form-label-group">
        <input type="name" id="inputHumanName" name="humanname" class="form-control" placeholder="Human Name" value="{{request.form.humanname}}" required>
        <label for="inputHumanName">Human Name</label>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" value="{{request.form.email}}" required>
        <label for="inputEmail">Email</label>
    </div>

    <div class="form-label-group">
        <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" value="{{request.form.username}}" required>
        <label for="inputUsername">Username</label>
    </div>
    
    <div style="width: 80%; margin: auto;">
        <hr style="color:azure;">
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="{{request.form.password}}" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group" style="margin-top: -10px;">
        <input type="password" id="inputPassword2" name="password" class="form-control" placeholder="Password" required>
        <label for="inputPassword2">Confirm Password</label>
    </div>
    
    <div style="width: 80%; margin: auto;">
        <hr style="color:azure;">
    </div>

    <div class="form-label-group">
        <input type="code" id="inputCode" name="code" class="form-control" placeholder="Registration Code" value="{{request.form.code}}" required>
        <label for="inputCode">Code</label>
    </div>

    <button class="btn btn-secondary btn-block custom-button" style="display: block;">
        Register
    </button>
</form>

<!-- acquire jquery-->
<script type="text/javascript" language="javascript" src="static/js/bundles/jquery-3.6.0.min.js"></script>

<!-- acquire bootstrap-->
<script src="static/js/bundles/bootstrap.min.js"></script>

{% endblock %}
  
